:root {
  --cl-white: hsl(0, 0%, 100%);
  --cl-black: hsla(0, 0%, 0%, 1);
  --cl-body: hsla(0, 0%, 12%, 1);
  --cl-dk-blue: hsla(224, 44%, 23%, 1);
  --cl-md-blue: hsla(189, 37%, 45%, 1);
  --cl-vl-blue: hsla(189, 14%, 90%, 1);
  --cl-lt-pink: hsla(9, 65%, 78%, 1);
  --cl-accent-pink: hsla(359, 51%, 61%, 1);
  --cl-accent-hv: hsla(359, 46%, 54%, 1);
}
